In [1]:
import pymysql as sql

In [2]:
from functools import reduce

In [45]:
def creating_connection():
    conn = sql.connect(user='root',
    password='',
    database='student_attendence',port=3306)
    cur = conn.cursor()
    options = int(input("enter one option given as \n 1 for veiw data \n 2 for add new student data \n 3 for marking attendene \n 4 for exit --> "))
    match options:
          case 1:
               view_data()
          case 2: 
              add_data()
          case 3:
              mark_attendence()
          case 4:
              print("exit")
          case _:
              print("invalid option")

In [11]:
def add_data():
    conn = sql.connect(user='root', password='', database='student_attendence', port=3306)
    cur = conn.cursor()
    
    sname = input("Enter student name: ")
    sid = int(input("Enter student ID: "))
    

    statement = f"insert into stu values ('{sname}', {sid})"
    
    try:
        cur.execute(statement)
        conn.commit()
        print("Student data inserted successfully.")
    except Exception as e:
        print("Error inserting data:", e)
    finally:
        cur.close()
        conn.close()

In [32]:
pip install mysql

Collecting mysql
  Downloading mysql-0.0.3-py3-none-any.whl.metadata (746 bytes)
Requirement already satisfied: mysqlclient in c:\users\asif\anaconda3\lib\site-packages (from mysql) (2.2.5)
Downloading mysql-0.0.3-py3-none-any.whl (1.2 kB)
Installing collected packages: mysql
Successfully installed mysql-0.0.3
Note: you may need to restart the kernel to use updated packages.

In [34]:
from datetime import date
def mark_attendence():
    conn = sql.connect(user='root', password='', database='student_attendence', port=3306)
    cur = conn.cursor()

    today = date.today()
    sid = int(input("Enter student ID to mark attendance: "))
    present_input = input("Is student present? (yes/no): ").strip().lower()
    present = True if present_input in ['yes', 'y', '1'] else False

    try:
        # Try to insert attendance (will fail if already marked for today)
        cur.execute("INSERT INTO attendence (sid, date, present) VALUES (%s, %s, %s)", (sid, today, present))
        conn.commit()
        print(f"Attendance marked for student ID {sid} on {today}.")
    except sql.errors.IntegrityError:
        print(f"Attendance for student ID {sid} on {today} already exists. Cannot modify past record.")
    except Exception as e:
        print("Error marking attendance:", e)
    finally:
        cur.close()
        conn.close()

In [43]:
def view_data():
    
    conn = sql.connect(user='root', password='', database='student_attendence', port=3306)
    cur = conn.cursor()

    # Join stu with attendence to show attendance per student
    query = '''
        SELECT s.sid, s.sname, a.date, a.present
        FROM stu s
        LEFT JOIN attendence a ON s.sid = a.sid
        ORDER BY s.sid, a.date
    '''
    cur.execute(query)
    records = cur.fetchall()

    print("\nStudent Attendance Records:")
    if records:
        for row in records:
            sid, sname, att_date, present = row
            status = "Present" if present == 1 else "Absent" if present == 0 else "No Record"
            date_str = att_date.strftime('%Y-%m-%d') if att_date else "N/A"
            print(f"ID: {sid} | Name: {sname} | Date: {date_str} | Status: {status}")
    else:
        print("No records found.")
    
    cur.close()
    conn.close()

In [44]:
view_data()

Student Attendance Records:
ID: 101 | Name: asif | Date: 2025-05-22 | Status: Present
ID: 102 | Name: king | Date: N/A | Status: No Record

In [48]:
creating_connection()

enter one option given as
 1 for veiw data
 2 for add new student data
 3 for marking attendene
 4 for exit -->  1

Student Attendance Records:
ID: 101 | Name: asif | Date: 2025-05-22 | Status: Present
ID: 102 | Name: king | Date: N/A | Status: No Record
ID: 103 | Name: queen | Date: N/A | Status: No Record